@font-face {
    font-family: FiraCode-Regular;
    src: url("../fonts/FiraCode/FiraCode-Regular.ttf"); 
}

@media (max-width: 767px) {
    .main-content{
        display: flex;
        flex-direction: column;
        vertical-align: middle;
    }
    .bkgd{
        background-color: #d59720;
    }
}

html, body{
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

.bkgd{
    background-color: rgb(10, 72, 110);
}

.img-adeq{
    display: block;
    float: left;
    position: sticky;
    height: 100%;
    border-radius: 50%;
    align-content: left;
}

.header-name{
    line-height: 1;
    flex-wrap: wrap;
    font-family: FiraCode-Regular;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(201, 224, 238);
}

.header-entry{
    flex-wrap: wrap;
    font-family: FiraCode-Regular;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(201, 224, 238);
}


.header-css{
    position: fixed;
    width: 100%;
    height: 96px;
    top: 0;
    left: 0;
    padding: 1em 1.5em 1em 1.5em;
    background-image: linear-gradient(#3e998b 10px,  #3D7599);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgb(46, 90, 117);
    text-align: right;
}

.h1-fontcode{
    display: block;
    font-family: FiraCode-Regular;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.left{
    display:inline;
    text-align: left;
}

.right{
    display:inline;
    text-align: right;
}

.sub-label{
    display: block;
    font-family: FiraCode-Regular;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.fontcode-blue{
    color: #49b5a5;
}

.fontcode-gold{
    color: #d59720;
}

.fontcode-green{
    color: white;
}

.main-content{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.image-content{
    display: inline-block;
    width: 50%;
    transition: color 0.3s;
    color: black;
    box-sizing: border-box;
}

.content-disposition{
    display: flex;
    margin: 3% auto 0;
    height: calc(100vh - 96px);
    max-width: 50%;
    align-items: center;
    text-align: center;
}

.labels{
    display: block;
    margin: 1em 0;
    font-family: FiraCode-Regular;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.footer-content{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    position: fixed;
    padding: 0.9em 0.5em 0 0.5em;
    bottom: 0;
    height: 10%;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    align-content: center;
}

.footer-lefter{
    width: 50%;
    display: flex;
    align-items: center;
    text-align: left;
}

.footer-righter{
    width: 50%;
    text-align: right;
}